@import "seattletimes";
@import "viewfinder";
@import "doll";
@import "print";

.paper-hawk {
  max-width: 800px;
  margin: auto;
}

.ad {
  padding: 20px 0;
  text-align: center;
}

.instructions {
  font-family: @df-sans;
  font-size: 16px;
}

.workflow-controls {
  overflow: hidden;

  .mode {
    float: left;
    width: 33%;
    text-align: center;
    color: white;
    background: @df-dark-gray;
    font-family: @df-sans;
    padding: 16px 0;
    border: 2px solid white;
    cursor: pointer;
    transition: background .2s linear;
    
    &.null {
      background: @df-dark-gray;
    }

    @media @mobile {
      display: block;
      float: none;
      width: 100%;
      padding: 8px 0;
    }

    &.active {
      background: darken(@df-blue, 20%);
    }

    &:hover {
      background: @df-blue;
    }
  }
}