<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <%= t.include("partials/_head.html") %>
  </head>
  <body>

    <main class="paper-hawk">
      <div class="skin-tones">
        <% ["#F7DECE", "#F3D2A2", "#D5AB88", "#AF7E57", "#7C533E"].forEach(function(shade) { %>
        <button class="skin emoji" data-shade="<%= shade %>" style="background: <%= shade %>"></button>
        <% }) %>
        <button class="skin dropper"></button>
      </div>
      <div class="canvas-container">
        <div class="canvas-inner">
          <%= t.include("assets/PaperDollFace.svg") %>
          <canvas class="face" width=600 height=600></canvas>
        </div>
        <div class="controls">
          <button class="zoom out">-</button>
          <button class="zoom in">+</button>
        </div>
      </div>
      <label for="upload-image">Upload image</label>
      <input type="file" id="upload-image"></input>
      <button class="take-selfie">Selfie</button>
    </main>

    <div class="viewfinder-modal">
      <a class="close">&times;</a>
      <div class="viewfinder-inner">
        <video class="viewfinder"></video>
        <div class="reticule"></div>
      </div>
      <button class="shutter">3... 2... 1...</button>
    </div>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
